body{
    margin: 0;
}
h1{
    text-align: center;
}

ul{
    list-style: none;
    width: 600px;
    margin: 0 auto;
    padding: 0;
}

li{
    cursor: pointer;
    padding: 8px;
    margin-bottom: 8px;
    color: white;
    background-color: blueviolet;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

button{
    margin: 0 auto;
    padding: 8px;
    background-color: blue;
    cursor: pointer;
    color: white;
}

p{
    text-align: center;
}